.App {
  height: 100vh;
  width: 100vw;
}

.App .header {
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  box-shadow: 0 1px 3px #777777;
}

.App .body {
  height: 92vh;
  width: 100vw;
}
